<div class="ShortageWarningInputBox" id="NewOrderLibrary">
    <div class="ShortageWarningInputContent">
        <div>
            <p>是否确认出库？</p>
        </div>
        <div>
            <button onclick="hide('NewOrderLibrary'); NewOrderLibrarySubmit(); AllOrderGetPageNum(); NewOrderGoPage(1)">确定</button>
            <button onclick="hide('NewOrderLibrary')">取消</button>
        </div>
    </div>
</div>
