<div class="buyerChangePasswordBox">
    <div class="buyerInfoBoxTitle">修改密码</div>
    <div class="buyerInfoBoxContent">
        <div>
            <span>原&nbsp;&nbsp; 密&nbsp;&nbsp; 码：</span>
            <input type="password" value="" id="oldPassword" autocomplete="off"/>
            <span class="ErroTip"><i class="icon-warning-sign"></i>  密码输入错误</span>
        </div>
        <div>
            <span>新&nbsp;&nbsp; 密&nbsp;&nbsp; 码：</span>
            <input type="password" value="" id="newPassword"  onkeyup="CheckPassword()" autocomplete="off"/>
            <span class="ErroTip" id="erroTipPassWord"><i class="icon-warning-sign"></i>  密码格式不正确,建议使用字母、数字和符号两种及以上的组合，6-20个字符</span>
        </div>
        <div>
            <span>确认新密码：</span>
            <input type="password" value="" id="reNewPassword"  onkeyup="CheckRePassword()" autocomplete="off"/>
            <span class="ErroTip" id="erroTipRePassWord"><i class="icon-warning-sign"></i>  两次输入的密码不匹配</span>
        </div>
        <div class="buyerInfoBoxSubmitContent">
            <button type="button" class="button gray rarrow" disabled="disabled" id="saveChange" onclick="ChangePassword()">保存修改</button>
        </div>
    </div>
</div>
