<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body style="margin:0">
    <img src="~/Picture/Error-404.png" style="width:100%"/>
</body>
</html>
