
@*<div class="importExport" id="ForTheDetail">
    <div class="importExport-title">
        <span>进出库统计</span>
        <span class="importExport-choose">
            <a href="#">昨天</a>
            <a href="#">最近七天</a>
            <a href="#">本月</a>
        </span>
    </div>
    <div class="importExport-Box">
        <table cellpadding="35">
            <tr>
                <th>类型</th>
                <th>单号</th>
                <th>商品名</th>
                <th>出入库数量</th>
                <th>日期</th>
            </tr>
            @for (int i = 1; i <= 10; i++)
            {
                <tr>
                    <th>XXX</th>
                    <th>XXX</th>
                    <th>XXX</th>
                    <th>XXX</th>
                    <th>XXX</th>
                </tr>
            }
        </table>
    </div>
    <div class="importExport-more">
        <button>查看更多</button>
    </div>
</div>*@
