@{
    Layout = "~/Views/Shared/BcakStageFrame.cshtml";
}

@Styles.Render("~/Css/BackStage/GeneralOperationCss/ChangePassword.css")

<div class="contents">
    <div>
        <div>
            <span class="userinfo">
                <span class="userinfo_">修改密码</span>
                <span class="fa fa-users"></span>
            </span>
        </div>
        <div class="inputChangeBox">
            <p>
                <span class="inputChangeBoxTitle">原密码:&nbsp;&nbsp;&nbsp; </span>
                <input id="oldPassword" onblur="CheckOldPassword()" type="text" autocomplete="new-password">
                <span id="erro_4" class="changePassword_erro">*&nbsp;&nbsp;密码不能为空</span>
            </p>
            <p>
                <span class="inputChangeBoxTitle">新密码:&nbsp;&nbsp;&nbsp;  </span>
                <input id="password" type="text" onblur="CheckPassword()" autocomplete="new-password">
                <span id="erro_1" class="changePassword_erro">*&nbsp;&nbsp;密码不能包含特殊字符</span>
                <span id="erro_2" class="changePassword_erro">*&nbsp;&nbsp;密码长度必须大于等于6</span>
            </p>
            <p>
                <span class="inputChangeBoxTitle">确认密码: </span>
                <input id="newPassword" type="text" onblur="CheckBothPassword()" autocomplete="new-password">
                <span id="erro_3" class="changePassword_erro">*&nbsp;&nbsp;两次输入的密码不匹配</span>
                <span id="erro_5" class="changePassword_erro">*&nbsp;&nbsp;密码不能为空</span>
            </p>
            <p>
                <button id="changeSubmit" disabled="disabled" onclick="ChangePassword()">确认</button>
            </p>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Scripts.Render("~/Js/BackStage/GeneralOperationJs/ChangePassword.js")



