
<div class="salesStatistics" id="SalesStatistics" name="SalesStatistics">
    <div class="salesStatistics-title"><span>销售统计图</span></div>
    <div class="salesStatistics-box" id="salesStatistics-box"></div>
</div>