@model List<GoodsVM>
    <div class="goods">
        @{
            if (Model != null)
            {
                foreach (GoodsVM item in Model)
                {
                    <a class="pointer" target="_blank" href="/ShowGoods/GoodsDetails?goodsId=@item.GoodsId">
                        <div class="goodsBox2" title="@item.GoodsName">
                            <img src="@item.GoodsSimpleGraph" class="goodsImg">
                            <p class="goodsInfo">
                                <span class="goodsName2">@item.GoodsName</span>
                                <span class="goodsPrice2">￥@item.Price</span>
                            </p>
                        </div>
                    </a>
                }
            }
            else {
                <span class="notFound">很抱歉，没有找到"@TempData["TypeName"]"相关的产品！</span>
            }
        }
    </div>
