<div class="rslidesBox">
    <ul class="rslides">
        <li><img src="~/Picture/FrontPic/Carousel/autumnsale.jpg" alt=""/></li>
        <li><img src="~/Picture/FrontPic/Carousel/beauty_home.jpg" alt="" /></li>
        <li><img src="~/Picture/FrontPic/Carousel/goods.jpg" alt="" /></li>
        <li><img src="~/Picture/FrontPic/Carousel/jianmu.jpg" alt=""/></li>
    </ul>
</div>