.changePassword_erro {
    color:red;
    font-size:12px;
    display:none;
}
.inputChangeBox {
    margin-top:5%;
}
.inputChangeBox input{
    display: inline-block; 
    height: 34px; 
    padding: 6px 12px; 
    font-size: 14px; 
    line-height: 1.428571429; 
    color: #555555; 
    vertical-align: middle; 
    background-color: #ffffff; 
    border: 1px solid #cccccc; 
    border-radius: 4px; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
}
.inputChangeBox input:focus { 
    border-color: #66afe9; 
    outline: 0; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); 
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); 
} 
.inputChangeBoxTitle {
    font-size:0.6em;
}
.inputChangeBox button {
    border-radius:10%;
    padding:0.5% 1%;
    cursor:pointer;
    color:white;
    border:1px solid rgb(6,217,149);
    background-color:rgb(6,217,149);
}