<div class="displaySetting">
    <div class="displaySetting-title">
        <span>显示设置</span>
    </div>
    <div class="displaySetting-menu">
        <p id="System_AccountInfo" name="set">
            <input type="checkbox" checked="checked" value="AccountInfo" name="setCheckbox" onclick="ShowOrHiden(this)">
            账户信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p id="CloudManagement_Statistics_EarningsStatistics" name="set">
            <input type="checkbox" checked="checked" value="EarningsStatistics" name="setCheckbox" onclick="ShowOrHiden(this)">
            财务信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p id="CloudManagement_Statistics_SalesStatistics" name="set">
            <input type="checkbox" checked="checked" value="SalesStatistics" name="setCheckbox" onclick="ShowOrHiden(this)">
            销售统计图&nbsp;&nbsp;
        </p>
        @*<p id="CloudManagement_Statistics_SalesStatistics" name="set">
            <input type="checkbox" checked="checked" value="SalesStatistics" name="setCheckbox" onclick="ShowOrHiden(this)">
            商品销量排行
        </p>*@
        <p id="System_JobLog" name="set">
            <input type="checkbox" checked="checked" value="JobLog" name="setCheckbox" onclick="ShowOrHiden(this)">
            工作日志&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        @*<p id="StoreManagement_ForTheDetail" name="set">
            <input type="checkbox" checked="checked" value="ForTheDetail" name="setCheckbox" onclick="ShowOrHiden(this)">
            进出库统计&nbsp;&nbsp;
        </p>*@
        <p id="CloudManagement_GoodsManagement_OutOfStockWarning" name="set">
            <input type="checkbox" checked="checked" value="OutOfStockWarning" name="setCheckbox" onclick="ShowOrHiden(this)">
            缺货小计&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
    </div>
</div>
