<div class="findBox-title">
    <span class="title">订单查询</span>
    <a>时间:</a>
    <a>开始:</a>
    <input type="date" id="OrderMinTime" />
    <a>-----结束:</a>
    <input type="date" id="OrderMaxTime" />
    <button onclick="NewOrderFindByTime(); AllOrderGetPageNum()">确定</button>
</div>
