<div class="findBox-title">
    <span class="title">类别</span>
    <a name="newMessageType" id="400" href="#" onclick="ChangeColor('newMessageType', this); FindByMessageType(this); NewMessageGetTotalPageNum()">所有</a>
    <a name="newMessageType" id="1" href="#" onclick="ChangeColor('newMessageType', this); FindByMessageType(this); NewMessageGetTotalPageNum()">入库</a>
    <a name="newMessageType" id="-1" href="#" onclick="ChangeColor('newMessageType', this); FindByMessageType(this); NewMessageGetTotalPageNum()">出库</a>
</div>
