<div class="ShortageWarningInputBox" id="ShortageWarningInputBox">
    <div class="ShortageWarningInputContent">
        <div>
            <p>请输入进货数量</p>
            <input type="number" id="ShortageWarningPurchaseNum"/>
        </div>
        <div>
            <button onclick="hide('ShortageWarningInputBox'); SalePurChase()">确定</button>
            <button onclick="hide('ShortageWarningInputBox')">取消</button>
        </div>
    </div>
</div>
