<div class="ShortageWarningInputBox" id="NewMessageInfoBox">
    <div class="ShortageWarningInputContent">
        <p>新消息详情</p>
        <div id="ShipmentInfoBox" class="NewMessageInfoBox" style="display:none">
            <p>单号:<span id="Shipment_messageId"></span></p>
            <p>订单号:<span id="Shipment_OrderId"></span></p>
            <p>类型:<span id="Shipment_messageType"></span></p>
            <p>商品Id:<span id="Shipment_GoodsId"></span></p>
            <p>商品名:<span id="Shipment_GoodsName"></span></p>
            <p>商品类别:<span id="Shipment_GoodsType"></span></p>
            <p>联系方式:<span id="Shipment_ContactInfo"></span></p>
            <p>原价:<span id="Shipment_GoodsPurchase"></span></p>
            <p>数量:<span id="Shipment_GoodsNum"></span></p>
            <p>收货人:<span id="Shipment_Consignee"></span></p>
            <p>收货地址:<span id="Shipment_ReceiptAddress"></span></p>
        </div>
        <div id="PurchaseInfoBox" class="NewMessageInfoBox" style="display:none">
            <p>单号:<span id="Purchase_messageId"></span></p>
            <p>类型:<span id="Purchase_messageType"></span></p>
            <p>商品Id:<span id="Purchase_GoodsId"></span></p>
            <p>商品名:<span id="Purchase_GoodsName"></span></p>
            <p>商品类别:<span id="Purchase_GoodsType"></span></p>
            <p>原价:<span id="Purchase_GoodsPurchase"></span></p>
            <p>数量:<span id="Purchase_GoodsNum"></span></p>
        </div>
        <div>
            <button id="Shipment" onclick="hide('NewMessageInfoBox'); ShipmentSubmit(); NewMessageGetTotalPageNum()" style="display:none">出库</button>
            <button id="Purchase" onclick="hide('NewMessageInfoBox'); PurchaseSubmit(); NewMessageGetTotalPageNum()" style="display:none">入库</button>
            <button onclick="hide('NewMessageInfoBox')">取消</button>
        </div>
    </div>
</div>
