<div class="fastFind">
    <span class="fastFind-title">快速查找</span>
</div>
<div class="findBox-title">
    <span class="title">时间</span>
    <a name="general_time" id="400" href="#" onclick="ChangeColor('general_time', this); GeneralOperationFindByTime(this); GeneralOperationGetTotalPageNum()">所有</a>
    <a name="general_time" id="1" href="#" onclick="ChangeColor('general_time', this); GeneralOperationFindByTime(this); GeneralOperationGetTotalPageNum()">今天</a>
    <a name="general_time" id="2" href="#" onclick="ChangeColor('general_time', this); GeneralOperationFindByTime(this); GeneralOperationGetTotalPageNum()">昨天</a>
    <a name="general_time" id="3" href="#" onclick="ChangeColor('general_time', this); GeneralOperationFindByTime(this); GeneralOperationGetTotalPageNum()">本周</a>
</div>
