<div class="goodsTypesBox">
    <a href="/ShowGoods/SetGoodsPageListById?typeId=20" target="_Blank"><img src="~/Picture/FrontPic/GoodsTypes/客厅.png" /></a>
    <a href="/ShowGoods/SetGoodsPageListById?typeId=19" target="_Blank"><img src="~/Picture/FrontPic/GoodsTypes/卧房.png" /></a>
    <a href="/ShowGoods/SetGoodsPageListById?typeId=18" target="_Blank"><img src="~/Picture/FrontPic/GoodsTypes/餐室.png" /></a>
    <a href="/ShowGoods/SetGoodsPageListById?typeId=17" target="_Blank"><img src="~/Picture/FrontPic/GoodsTypes/工作空间.png" /></a>
    <a href="/ShowGoods/SetGoodsPageListById?typeId=16" target="_Blank"><img src="~/Picture/FrontPic/GoodsTypes/Baby房.png" /></a>
    <a href="/ShowGoods/SetGoodsPageListById?typeId=21" target="_Blank"><img src="~/Picture/FrontPic/GoodsTypes/北欧日式.png" /></a>

    <a href="#"><img src="~/Picture/FrontPic/GoodsTypes/OVERSEA.png" /></a>
    <a href="/ShowGoods/SetGoodsPageListById?typeId=22" target="_Blank"><img src="~/Picture/FrontPic/GoodsTypes/原创设计.png" /></a>
    <a href="/ShowGoods/SetGoodsPageListById?typeId=8" target="_Blank"><img src="~/Picture/FrontPic/GoodsTypes/文具玩酷.png" /></a>
    <a href="/ShowGoods/SetGoodsPageListById?typeId=11" target="_Blank"><img src="~/Picture/FrontPic/GoodsTypes/居家饰物.png" /></a>
    <a href="/ShowGoods/SetGoodsPageListById?typeId=12" target="_Blank"><img src="~/Picture/FrontPic/GoodsTypes/家纺布艺.png" /></a>
    <a href="/ShowGoods/SetGoodsPageListById?typeId=13" target="_Blank"><img src="~/Picture/FrontPic/GoodsTypes/旅行美学.png" /></a>
    
    <a href="#"><img src="~/Picture/FrontPic/GoodsTypes/礼品专区.png" /></a>
    <a href="/ShowGoods/SetGoodsPageListById?typeId=9" target="_Blank"><img src="~/Picture/FrontPic/GoodsTypes/收纳.png" /></a>
    <a href="/ShowGoods/SetGoodsPageListById?typeId=6" target="_Blank"><img src="~/Picture/FrontPic/GoodsTypes/灯饰.png" /></a>
    <a href="/ShowGoods/SetGoodsPageListById?typeId=7" target="_Blank"><img src="~/Picture/FrontPic/GoodsTypes/卫浴.png" /></a>
    <a href="/ShowGoods/SetGoodsPageListById?typeId=10" target="_Blank"><img src="~/Picture/FrontPic/GoodsTypes/美味餐厨.png" /></a>
    <a href="#"><img src="~/Picture/FrontPic/GoodsTypes/潮软装.png" /></a>
</div>
