<div class="goodsShowBox">
    <div>
        <img src="~/Picture/FrontPic/HomePage/热门.jpg" />
    </div>
    <div class="goods">
        @foreach (Goods item in Model) {
            <a class="pointer" target="_blank" href="/ShowGoods/GoodsDetails?goodsId=@item.GoodsId">
                <div class="goodsBox">
                    <img src="@item.GoodsSimpleGraph" class="goodsImg">
                    <p class="goodsName">@item.GoodsName</p>
                    <p class="goodsPrice">￥&nbsp;@item.Price</p>
                </div>
            </a>
        }
    </div>
</div>
