@{
    Layout = "~/Views/Shared/BcakStageFrame.cshtml";
}

<div class="contents">
    <div>
        <div>
            <span class="userinfo">
                <span class="userinfo_">库存</span>
                <span class="fa fa-database"></span>
            </span>
        </div>
        <div class="store_search">
            <span>商品名搜索:</span>
            <input type="text" id="goodsName">
            <button onclick="StoreVagueSearch(); GetTotalPageNum()">确定</button>
        </div>
        <div class="fastFind">
            <span class="fastFind-title">快速查找</span>
        </div>
        @Html.Partial("~/Views/BackStage/StoreManagement/StoreCheck/GoodsType/_GoodsTypes.cshtml")
        @Html.Partial("~/Views/BackStage/StoreManagement/StoreCheck/CheckBox/_CheckBox.cshtml")
    </div>
</div>


