
<div class="financialInformation" id="EarningsStatistics">
    <div class="financialInformation-title">
        <span>财务</span>
        <span class="company">单位（元）</span>
    </div>
    <div class="financialInformation-Box">
        <div class="financialInformation-Info">
            <p>0.00</p>
            <p>今日盈利</p>
        </div>
        <div class="financialInformation-Info">
            <p>0.00</p>
            <p>昨日盈利</p>
        </div>
        <div class="financialInformation-Info">
            <p>0.00</p>
            <p>本周盈利</p>
        </div>
        <div class="financialInformation-Info">
            <p>0.00</p>
            <p>总盈利</p>
        </div>
    </div>
</div>
