<div class="remodal" data-remodal-id="addNewUser">
    <a data-remodal-action="close" class="remodal-close"></a>
    <div class="remodal-title">添加员工</div>
    <div>
        <input class="inputBox" type="text" placeholder="请输入员工名" id="userName"  autocomplete="new-password"/>
        <input class="inputBox" type="text" placeholder="请输入员工账号" id="userAccount"  autocomplete="new-password"/>
        <input class="inputBox" type="password" placeholder="请输入员工密码" id="userPassword" autocomplete="new-password" />
        <input class="inputBox" type="text" placeholder="请输入员工联系方式" id="userContactInfo"  autocomplete="new-password"/>
    </div>
    <a data-remodal-action="cancel" class="remodal-cancel" href="#">Cancel</a>
    <a data-remodal-action="confirm" class="remodal-confirm" href="#" onclick="AddUser()">OK</a>
</div>
