<div class="remodal" data-remodal-id="checkRoles">
    <a data-remodal-action="close" class="remodal-close"></a>
    <div class="remodal-title">查看员工所属角色</div>
    <a data-remodal-action="cancel" class="remodal-cancel" href="#">Cancel</a>
</div>
