<div class="remodal" data-remodal-id="checkSpecialPermissions">
    <a data-remodal-action="close" class="remodal-close"></a>
    <div class="remodal-title">查看特殊权限</div>
    <a data-remodal-action="cancel" class="remodal-cancel" href="#">Cancel</a>
</div>
