<div class="JurisdictionTreeBox remodal" data-remodal-id="modal" id="jurisdictionTreeBox">
    <ul id="treeDemo" class="ztree"></ul>
    <a data-remodal-action="close" class="remodal-close" ></a>
    <a data-remodal-action="cancel" class="remodal-cancel" href="#">Cancel</a>
    <a data-remodal-action="confirm" class="remodal-confirm" href="#" onclick="IfCanModifyRoles()">OK</a>
</div>
