<div class="remodal" data-remodal-id="modifyPermissions">
    <a data-remodal-action="close" class="remodal-close"></a>
    <div class="remodal-title">修改员工权限</div>
    <ul id="tree" class="ztree"></ul>
    <a data-remodal-action="cancel" class="remodal-cancel" href="#">Cancel</a>
    <a data-remodal-action="confirm" class="remodal-confirm" href="#" onclick="ModifyUserPermissons()">OK</a>
</div>
