<div id="table_goods" class="table_div">
    <table class="store_findResultBox" border="1" cellpadding="0" id="newMessageTable"></table>
    <div class="store_changePage">
        <button id="newMessage_butPre" class="store_changePage_button" onclick="NewMessageChangePre()">上一页</button>
        <a class="store_changePage_info">第 <span id="newMessage_nowPage">@Model.pageNow</span> 页</a>
        <button id="newMessage_butNext" class="store_changePage_button" onclick="NewMessageChangeNext()">下一页</button>
        <a class="store_changePage_info">共 <span id="newMessage_totalPage">@Model.pageTotal</span> 页，到</a>
        <input id="newMessage_page" type="number" />
        <a class="store_changePage_info">页</a>
        <button onclick="NewMessageGoPageNum()">确定</button>
    </div>
</div>
