.goodsName2 {
    display:inline-block;
    width:70%;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space:nowrap;
    vertical-align:top;
}
.goodsInfo {
    padding:3% 1%;
    border:2px solid grey;
}
.goodsInfo:hover .goodsName2{
    color:red;
}
