@{
    Layout = "~/Views/Shared/BcakStageFrame.cshtml";
}
<div class="contents">
    <div>
        <div>
            <span class="userinfo">
                <span class="userinfo_">出入库明细</span>
                <span class="fa fa-user"></span>
            </span>
        </div>
        <div class="fastFind">
            <span class="fastFind-title">快速查找</span>
        </div>
        @*<div class="findBox-title">
            <span class="title">类型</span>
            <a name="inventory" id="400" href="#" onclick="ChangeColor('inventory', this);  GetTotalPageNum()">所有</a>
            <a name="inventory" id="1" href="#" onclick="ChangeColor('inventory', this);  GetTotalPageNum()">出库</a>
            <a name="inventory" id="-1" href="#" onclick="ChangeColor('inventory', this);  GetTotalPageNum()">入库</a>
            @*FindJudge('inventory', 'time');
        </div>*@
    </div>
</div>

